<ul class="menu">
    <li><a href="/">Aktuell</a></li>
    <li><a href="/archiv.html">Archiv</a></li>
    <li><a href="/orchester.html">Orchester</a></li>
    <li><a href="/dirigent.html">Dirigent</a></li>
    <li><a href="/vorstand.html">Vorstand</a></li>
</ul>