<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>
  </header>
  {{{ contents }}}
</body>
</html>