{{> header }}
<ul>
    {{#each collections.archive}}
        <li>
            <h3>{{ this.title }}</h3>
            <img src="{{ this.flyer }}">
            <article>{{{ this.contents }}}</article>
        </li>
    {{/each}}
</ul>
{{> footer }}